* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin Sketch", serif;
    font-weight: normal;
}

body {
    background-image:
            linear-gradient(
                    to left,
                    #004e92, #000428, #190a05, #8E0E00
            );
    margin-top: 50px;
}

#mycontainer {
    margin-bottom: 150px;
    margin-left: 30%;
    align-content: center;
}

#usflag img {
    height: 20%;
    width: 23%;
    float: left;
}

h2 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#indianflag img {
    height: 10%;
    width: 20%;
}

.quantity {
    display: flex;
    justify-content: center;
}

.quantity button {
    width: 100px;
    height: 100px;
    font-size: 80px;
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    background-image:
            linear-gradient(
                    to left,
                    #fc4a1a, #f7b733
            );
}

.quantity input {
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 30%;
    font-size: 50px;
    color: #000;
    font-weight: 300;
    background-image:
            linear-gradient(
                    to left,
                    #c9ffbf, #ffafbd
            );
}

.total-price {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.total-price .fa-rupee {
    display: inline-block;
    font-size: 90%;
    margin-right: 5px;
}

@media(max-width: 845px) {
    h2 {
        margin-top: 3%;
        font-size: 50px;
    }

    .quantity button {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }

    .quantity input {
        width: 40%;
        font-size: 30px;
    }

    .total-price {
        font-size: 40px;
    }

    .total-price .fa-rupee {
        font-size: 40px;
    }

}

@media(max-width: 640px) {
    h2 {
        margin-top: 3%;
        font-size: 30px;
    }

    .quantity button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .quantity input {
        width: 30%;
        font-size: 15px;
    }

    .total-price {
        font-size: 30px;
    }

    .total-price .fa-rupee {
        font-size: 30px;
    }
}

@media(max-width: 420px) {
    h2 {
        margin-top: 3%;
        font-size: 15px;
    }

    .quantity button {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .quantity input {
        width: 20%;
        font-size: 10px;
    }

    .total-price {
        font-size: 20px;
    }

    .total-price .fa-rupee {
        font-size: 20px;
    }
}















